@font-face {
    font-family: 'Georgia Bold';
    src: url("../../fonts/Georgia\ Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url("../../fonts/Helvetica\ Neue\ Light.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue WGL Bold';
    src: url("../../fonts/Helvetica\ Neue\ WGL\ Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url("../../fonts/Helvetica\ Neue\ Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}